*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #010201;
}
a:hover {
  color: rgb(94, 215, 29);
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/*---HEADER---------------------------------------------------------------*/
.header {
  background: #9380AB;
}

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-link {

  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  color: #fff;
  text-decoration: none;  
}

.nav-link:hover {
  color: rgb(94, 215, 29);
}
.image {
  width: 300px;
  border-radius: 50%;
}

/*---MAIN-SECTION---------------------------------------------------------------*/

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-section {
  width: 50%;
  padding: 20px 5px;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid #9380AB ;
}

.main-section__image {
  width: 300px;
  border-radius: 50%;
  
}

.main-section__main-title {
  display: block;
  font-size: 32px;
  border-bottom: 2px #9380AB solid;
  margin: 20px 0px;
}

.main-section__title {
  font-size: 24px;
}

/*---SECTIONS---------------------------------------------------------------*/

section {
  width: 50%;
  padding: 20px 5px;
  border-bottom: 5px solid #9380AB ;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

section:nth-child(7) {
  border-bottom: none;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-size: 24px;
  margin: 20px 0px;
}

.section-item {
  margin: 20px;
  position: relative;
  /*---Contacts---------------------------------------------------------------*/
}

.contacts-item:nth-child(1):before {
  background-image: url(./images/contacts/envelope-square.svg)
}

.contacts-item:nth-child(2):before {
  background-image: url(./images/contacts/github-square.svg);
}

.contacts-item:nth-child(3):before {
  background-image: url(./images/contacts/phone-square-alt.svg)
}

.contacts-item:nth-child(4):before {
  background-image: url(./images/contacts/linkedin.svg)
}

.contacts-item:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -25px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

/*---Skills---------------------------------------------------------------*/

.skills-item:nth-child(1):before {
  background-image: url(./images/skills/html.svg)
}

.skills-item:nth-child(2):before {
  background-image: url(./images/skills/css.svg)
}

.skills-item:nth-child(3):before {
  background-image: url(./images/skills/js.svg)
}

.skills-item:nth-child(4):before {
  background-image: url(./images/skills/github.svg)
}

.skills-item:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -25px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;

}

/*---Education---------------------------------------------------------------*/

.education-item:nth-child(1):before{
  background-image: url(./images/education/bsuir.jpg)
}

.education-item:nth-child(2):before{
  background-image: url(./images/education/udemy.png)
}

.education-item:nth-child(3):before{
  background-image: url(./images/education/learnjs.png)
}

.education-item:nth-child(4):before{
  background-image: url(./images/education/rs-logo.jpg)
}

.education-item:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -25px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

/*---Footer---------------------------------------------------------------*/

.footer {
  background: #9380AB;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9380AB;
  padding: 10px;
}

.footer__data-year {
  color:#fff; 
}

.footer__github-link {
  color:#fff
}
